<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">

		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
				<remove name="WebDAV" />
			</handlers>
			<modules>
				<remove name="WebDAVModule" />
			</modules>

			<aspNetCore processPath=".\waPLD 8.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="209715200" />
					<verbs>
						<!-- Si estaban bloqueados, remuévelos -->
						<remove verb="DELETE" />
						<remove verb="PUT" />
						<remove verb="OPTIONS" />
					</verbs>
				</requestFiltering>
			</security>
		</system.webServer>

	</location>
</configuration>
<!--ProjectGuid: 6fbf6585-f8fa-44ca-bbf3-f13a82a6cea8-->