@{
    //Layout = null;
}
<asp:Content ID="index" ContentPlaceHolderID="MainContent" runat="server">
    <form id="Dos">
        @{
            Html.RenderPartial("_TablaOficio");
        }
    </form>
</asp:Content>
